/* 전체영역 */
.row {
	justify-content: center;
}

/* title */
.titlebox h3 {
	padding-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}

.regDate {
	display: flex;
}

.regDate .subTitle {
	font-size: 0.9em;
	font-weight: bold;
	width: 110px;
	text-align: right;
}

.subTitle>span {
	color: #F4B183;
	margin-right: 10px;
}

.regDate p {
	font-size: 0.8em;
}

/* form-group */
.form-group {
	display: flex;
}

.form-group .subTitle {
	font-size: 0.9em;
	font-weight: bold;
	width: 110px;
	text-align: right;
}

.form-group .reviewData {
	font-size: 0.8em;
}

.form-group .reviewTitle {
	width: 80%;
}

.form-group .dataBorder {
	border: 1px solid gainsboro;
	border-radius: 5px;
	width: 80%;
	height: 200px;
	margin-bottom: 0;
	padding: 5px 10px;
}


/* 수정목록삭제 버튼 */
.reviewBtns {
	width: 200px;
	margin-top: 20px;
}

/* 댓글 영역 */
.container h5.reply {
	text-align: center;
	margin: 20px 0;
}

.replyUser {
	display: flex;
}

.reply-input .subTitle {
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
}

.userNick {
	font-size: 0.8em;
}

.reply-group .reply-input {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

#reply {
	margin-right: 10px;
}

/* 등록하기 버튼 */
#replyRegist {
	width: 100px;
}